# Base de données MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=wondershop

# JWT
JWT_SECRET=change_moi_en_production
JWT_EXPIRES_IN=1d

# App
PORT=3000
CORS_ORIGIN=http://localhost:5173
